# Ignore environment files
.env
env
deploy.sh

# Ignore writable
writable/*
!writable/index.html
!writable/.gitkeep

# Ignore IDE/OS files
*.bak
*.tmp
*.swp
.DS_Store
Thumbs.db

# Ignore all uploads
/public/uploads/
/uploads/
/storage/
/storage/uploads/
/storage/uploads/events/"/public/uploads/" 
